<html>
<head>
	<title>New Test</title>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/fonts/lato/stylesheet.css" type="text/css"/>
 	<link rel="stylesheet" href="../css/fonts/snippet/stylesheet.css" type="text/css"/>
 	<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css" type="text/css" />
 	<link rel="stylesheet" href="../css/font-awesome/css/font-awesome.min.css" type="text/css" />
	<link rel="stylesheet" href="../css/screen.css" type="text/css"/>
</head>
<body>

<div id="background">
	<div id="fixedNav">
		<ul id="fixedList">
			<li><a href="#head"><i class="fa fa-lg fa-circle-o"></i><span id="sideNav-head">Home</span></a></li>
			<li><a href="#about"><i class="fa fa-lg fa-circle-o"></i><span id="sideNav-about">About</span></a></li>
			<li><a href="#resume"><i class="fa fa-lg fa-circle-o"></i><span id="sideNav-resume">Resume</span></a></li>
			<li><a href="#projects"><i class="fa fa-lg fa-circle-o"></i><span id="sideNav-projects">Projects</span></a></li>
			<li><a href="#blog"><i class="fa fa-lg fa-circle-o"></i><span id="sideNav-blog">Blog</span></a></li>
			<li><a href="#contact"><i class="fa fa-lg fa-circle-o"></i><span id="sideNav-contact">Contact</span></a></li>
		</ul>
	</div>
	<div id="toTop">
		<a href="#head"><i class="fa fa-angle-up fa-4x"></i></a>
	</div>
	<section name="head" id="head"><div class="centered">
			<div class="logo">Peter Andringa</div>
			<span class="bio">Mobile &amp; web developer, entrepreneur, and student.</span>
			<nav id="nav"><a href="#about" class="links" id="linkAbout">About</a> | <a href="#resume"class="links" id="linkResume">Resume</a> | <a href="#projects" class="links" id="linkProjects">Projects</a> | <a href="#blog" class="links" id="linkBlog">Blog</a> | <a href="#contact" class="links" id="linkContact">Contact</a></nav>
	</div>
	</section>
	<section name="about" id="about">
		<h2 class="sectionTitle">About</h2>
		<div class="row">
			<div id="aboutText" class="col-xs-12 col-md-8">
				<p><span class="greet">Hello!</span> My name is Peter Andringa, and I'm currently a high school student at <a href="http://tjhsst.edu">Thomas Jefferson High School for Science and Technology</a>, an elite high school in Northern Virginia specifically for students who love math, science, engineering, and computer science. I'm currently in my Sophomore year, and even though its a lot of work I really enjoy studying there.</p>
				<p>My first introduction to computer science came in 7th grade, when I picked up a cousin's C++ book and started to read it. I thought the idea of programming was fascinating, but I didn't quite understand everything going on in that book. I decided to teach myself how to code, by building a hands on project: creating an iPhone app. That, I figured, would be the fastest way for me to learn (because there were no CS classes available in my middle school). After struggling through Objective-C for a few months, I found that I simply didn't get it. At that point, I came across <a href="http://coronalabs.com">Corona SDK</a>, which allowed me to write for <span class="underline">both</span> iOS and Android, using a much simpler language called <a href="http://lua.org">Lua</a>. I started to teach myself, and eventually finished my app, a game called "Sharks Vs. Subs", in 8th grade. (It's since been removed from the App Store, but you can <a href="https://web.archive.org/web/20131115233610/https://itunes.apple.com/us/app/sharks-vs.-subs/id500865559">check it out on The Wayback Machine</a>).</p>
				<p>Over the last couple years since then I've developed a passion for entrepreneurship, product design, and making my ideas come to life through code. Outside of school I spend much of my time devoted to these things, whether it be through internships, helping lead my school's entrepreneurship club, organizing <a href="http://tjhackathon.com">HackTJ</a> and <a href="http://gopilot.org">PilotDC</a>, or even just tinkering on some of my own <a href="#projects">projects</a>. I love building cool stuff and teaching others how to do so, because I think there's nothing cooler than seeing your idea come to life.</p>
				<p>I'm always open to new opportunities or ideas, so don't hesitate to <a href="#contact">contact</a> me via email (<a href="mailto:peter@andrin.ga">peter@andrin.ga</a>), because I'd love to hear from you!</p>
			</div>
			<div id="aboutImage" class="col-xs-12 col-md-4">
				<img src="../img/portrait.jpg" class="img-responsive"/>
			</div>
		</div>
	</section>
	<section name="resume" id="resume">
	<h2 class="sectionTitle">Resume</h2>
		<div class="resumeSection top">
			<h3 class="section-head" id="education">Education:</h3>
			<ul>
				<li><a href="http://tjhsst.edu" target="__blank">TJHSST</a>, Class of 2016</li>
				<li><em>Much more to come...</em></li>
			</ul>
		</div>
		<div class="resumeSection">
			<h3 class="section-head" id="experience">Work Experience:</h3>
			<ul>
				<li>DC Organizer, <a href="http://gopilot.org" target="__blank">Pilot</a> (2014)</li>
				<li>Summer Associate, <a href="http://socialtables.com" target="__blank">Social Tables</a> (2013)</li>
				<li>Organizer, <a href="http://tjhackathon.com" target="__blank">HackTJ</a> (2013)</li>
				<li>Founder of Blue Spruce Games a (now-defunct) iPhone games studio (2011)</li>
			</ul>
		</div>
		<div class="resumeSection">
			<h3 class="section-head" id="skills">Skills:</h3>
			<ul>
				<li>Web Design with HTML, CSS, &amp; Javascript</li>
				<li>Server-side programming in PHP &amp; Node.js</li>
				<li>Experience with Linux and Developer Operations</li>
				<li>Proficient in Python &amp; Java</li>
				<li>Experience with iPhone app development, using <a href="http://coronalabs.com" target="__blank">Corona SDK</a></li>
			</ul>
		</div>
	</section>
	<section name="projects" id="projects">
		<h2 class="sectionTitle">Projects</h2>
		<div class="row">
			<% for(var i=0; i<projects.length; i++) { %>
			  <div class="col-sm-3 col-lg-3 projectPanel">
			    <div class="thumbnail">
			      <img src="../img/projects/<%= projects[i].image %>" alt="..." class="project-thumb">
			      <div class="caption">
			        <h3><%= projects[i].name %></h3>
			        <p><%- projects[i].description %></p>
			        <% if(projects[i].github) { %>
			        <p><a href="<%= projects[i].github %>" class="btn btn-primary" role="button" target="__blank">View on GitHub</a></p>
			        <% } else { %> 
			        <p><a href="#" class="btn btn-primary disabled" role="button" target="__blank">Coming soon to GitHub</a></p>
			        <% } %>
			      </div>
			    </div>
			  </div>
			<% } %>
		</div>
	</section>
	<section name="blog" id="blog">
		<h2 class="sectionTitle">Blog</h2>
		<% for(var i=0; i<posts.length; i++) { %>
			<% var d = new Date(posts[i].published_at); %>
			<a href="<%= blogLink+'/'+posts[i].slug+'/' %>" class="blogPreview-link">
			<% if(i==0) { %>
				<div class="blogPreview post-top">
			<% } else { %>
				<div class="blogPreview">
			<% } %>
					<div class="blogPreview-meta">
						<h4 class="blogPreview-title"><%= posts[i].title %></h4>
						<% var months = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]; %>
						<span class="blogPreview-author">Peter Andringa | <%= d.getDate()+" "+months[d.getMonth()]+" "+d.getFullYear()  %></span>
					</div><br>
					<% var paragraph = posts[i].html.indexOf('</p>'); var trim = posts[i].html.substring(0, paragraph) %>
					<div class="blogPreview-post">
						<%- trim %>
						<a href="<%= blogLink+'/'+posts[i].slug+'/' %>" class="blogPreview-continue">(Continued <i class="fa fa-arrow-right"></i>)</a>
						</p> <!--Left over from the 'trim' above-->
					</div>
				</div>
			</a>
		<% } %>
		<a href="<%= blogLink %>" id="viewMore">View more Posts <i class="fa fa-angle-right fa-lg"></i></a>
	</section>
	<section name="contact" id="contact" class="">
			<div id="contactText">If you want to get in touch with me for any reason, you can email me at <a href="mailto:peter@andrin.ga">peter@andrin.ga</a>, press this button, or contact me on any of the social networks below!</div>
		
		<a href="mailto:peter@andrin.ga"  id="contact-button" class="btn btn-primary btn-lg btn-block" role="button">Contact Me</a>

	</section>
	<footer name="foot" id="footer">
	<div id="footerContainer">
		<span id="social">
		  <a href="https://twitter.com/p_andringa" id="Twitter" class="socialIcons" target="__blank"></a>
		  <a href="https://facebook.com/peter.j.andringa" id="Facebook" class="socialIcons" target="__blank"></a>
		  <a href="https://plus.google.com/105936787330120704498/" id="GooglePlus" class="socialIcons" target="__blank"></a>
		  <a href="/blog" id="Blog" class="socialIcons" target="__blank"></a>
		  <a href="http://medium.com/@p_andringa" id="Medium" class="socialIcons" target="__blank"></a>
		  <a href="http://dropitto.me/pandringa" id="Dropbox" class="socialIcons" target="__blank"></a>
		  <a href="http://github.com/pandringa" id="Github" class="socialIcons" target="__blank"></a>
		</span>
		<span id="footerText">
		  <span id="thanks" class="footerContent">Thanks for Visiting!</span><br>
		  <span id="copyright" class="footerContent">&copy; 2013, Peter Andringa</span><br>
		  <a href="/admin-panel" id="admin" class="footerContent" target="__blank">Go to Admin Panel</a>
		</span>
	</div>
	</footer>
</div>

<!-- Javascript -->
<script src="../js/core/jquery.min.js" type="text/javascript"></script> 
<script src="../js/core/jquery.localscroll.js" type="text/javascript"></script> 
<script src="../js/core/jquery.scrollTo.js" type="text/javascript"></script> 
<script src="../js/core/jquery.translate.js" type="text/javascript"></script>
<script src="../css/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/home.js" type="text/javascript"></script>
</body>