<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- META -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="<%- description %>" />
  <meta name="keywords" content="<%- tags %>" />

  <!-- UNUSED FONTS:
  
  -->
  <!-- FONTS -->
  <link rel="stylesheet" href="/css/fonts/copse/stylesheet.css" type="text/css"/>
  <link rel="stylesheet" href="/css/fonts/bellota/stylesheet.css" type="text/css"/>
  <link rel="stylesheet" href="/css/fonts/elegantech/stylesheet.css" type="text/css"/>
  <link rel="stylesheet" href="/css/fonts/prosto/stylesheet.css" type="text/css"/>
  <link rel="stylesheet" href="/css/fonts/lato/stylesheet.css" type="text/css"/>
  <link rel="stylesheet" href="/css/fonts/satellite/stylesheet.css" type="text/css"/>
  <link rel="stylesheet" href="/css/fonts/geo/stylesheet.css" type="text/css"/>
  <link rel="stylesheet" href="/css/fonts/snippet/stylesheet.css" type="text/css"/>
  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css" type="text/css"/>

</head>
<body>
  <%- include header %>
  <%- __yield %>
  <!-- /__yield -->
  <%- include footer %>
  
</body>
</html>